{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}"
    >
    {% block title%}
    <title>Metro Bus APP</title>
    {%endblock title%}
</head>
<body>
    {% block header %}<!DOCTYPE html>
        <header>
            <h1 class="metrobus">Metro Bus</h1>
            <nav>
                <ul>
                    <li><a href=" {% url 'bases:home' %}">Home</a></li>
                    <li><a href="{% url 'articulos:articulos' %}">Artículos</a></li>
                    <li><a href="{% url 'autores:autores' %}">Autores</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="{% url 'bases:logout'%}">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </header>
    
    {% endblock header %}
    {% block main_container %}
    <main>
        <article>
            <h2>Título del artículo</h2>
            <p>Este es el contenido del artículo.</p>
        </article>
        
        <article>
            <h2>Otro título de artículo</h2>
            <p>Este es otro contenido de artículo.</p>
        </article>
    </main>
    {% endblock main_container %}
    {% block footer_container %}
    <footer>
        <p>&copy; 2023 Mi Blog. Todos los derechos reservados.</p>
    </footer>
    {% endblock footer_container %}
    {% block js_page %}
    {% endblock js_page %}
</body>
</html>