{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}"
    >
    {% block title%}
    <title>Metro Bus APP</title>
    {%endblock title%}
</head>
<body>
    {% block header %}<!DOCTYPE html>
        <header>
            <h1 class="metrobus">Metro Bus</h1>
            <nav class="nav_bar">
                <ul class="nav_bar_ul">
                    <li class="list_item"><a class="a_link" href=" {% url 'bases:home' %}">Home</a></li>
                    <li class="list_item"><a class="a_link" href="{% url 'articulos:articulos' %}">Artículos</a></li>
                    <li class="list_item"><a class="a_link" href="{% url 'autores:autores' %}">Autores</a></li>
                    <li class="list_item"><a class="a_link" href="#">Galeria</a></li>
                    <li class="list_item"><a class="a_link" href="#">Contacto</a></li>
                    <li class="list_item"><a class="a_link" href="{% url 'bases:logout'%}">Cerrar Sesion</a></li>
                </ul>
            </nav>
        </header>
    
    {% endblock header %}
    {% block main_container %}
    <main class="main_container">
        <div id="contenedor">
            <div class="noticia-semana">
              <h2>Noticia de la semana</h2>
              <p>Contenido de la noticia...</p>
            </div>
            <div class="autor-semana">
              <h2>Autor de la semana</h2>
              <p>Información sobre el autor...</p>
            </div>
          </div>
    </main>
    {% endblock main_container %}
    {% block footer_container %}
    <footer>
        <p>&copy; 2023 Mi Blog. Todos los derechos reservados.</p>
    </footer>
    {% endblock footer_container %}
    {% block js_page %}
    {% endblock js_page %}
</body>
</html>