<!DOCTYPE html>
<html>
<head>
    <title>Mi Sitio Web</title>
    <link rel="stylesheet" type="text/css" href="../../static/base/css/side_bar.css">
</head>
<body>
    <div class="sidebar">
        <div class="profile">
            <img class="profile-image" src="../../static/base/img/file.enc" alt="Imagen de perfil">
            <div class="profile-info">
                <h3>Nombre Apellido</h3>
                <p>Puesto</p>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Opción 1</a></li>
                <li><a href="#">Opción 2</a></li>
                <li><a href="#">Opción 3</a></li>
                <li><a href="#">Opción 4</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h1>Título del contenido principal</h1>
        <p>Este es el contenido principal de la página.</p>
        <p>Aquí puedes agregar más elementos, como párrafos, imágenes, enlaces, etc.</p>
    </div>
</body>
</html>
