/* Reset de estilos */
html, body, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #d2202f;
    padding: 20px;
    text-align: start;
    }

.metrobus {
    font-size: 32px;
    margin-bottom: 10px;
    color: #f8f8f8;
}
.nav_bar
{
    position: fixed;
    display: contents;
}
.nav_bar_ul {
    list-style-type: none;
    padding: 10px;
    text-align: right;
}

.list_item{
    display: inline;
    margin-right: 10px;
}

.a_link:hover {
    background-color:#f8f8f8;
    color: #d2202f;
  }
.a_link {
    color: #f8f8f8;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    
}

.main_container {
    padding: 20px;
}

.contenedor {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
}

.contenedor:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #d2202f;
}

p {
    margin-bottom: 10px;
}

footer {
    background-color: #d2202f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}
/*_______________diseño to de la semana___________________*/
  
 #noticia-semana div,
  #autor-semana div {
    flex: 1;
  }